
<% form_for_resource setup_graph(resource) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </p>
  <p>
    <%= f.label :vertical_label %><br />
    <%= f.text_field :vertical_label %>
  </p>
  <p>
    <%= f.label :horizontal_label %><br />
    <%= f.text_field :horizontal_label %>
  </p>

  <% f.fields_for :graph_items do |item_form| %>
	<h2>Graph Item </h2>
	<%= item_form.label :title%><br/>
	<%= item_form.text_field :title%><br/>
    <%#= item_form.label :data_source %>
	<%#= item_form.select :data_source_id, DataSource.find(:all).collect {|d| [d.name, d.id] }%><br/>
    <% item_form.fields_for :data_source do |ds_form| %>
	  <%= ds_form.label :type %><br/>
	  <%#= ds_form.select :type, ["Fred"] %><br/>
	  <%= select_tag "graph[graph_items_attributes][0][data_source_attributes][ds_type]", options_for_select(["FederalReserve"]) %><br/>
	  <%= ds_form.label :name %><br/>
	  <%= ds_form.text_field :name %><br/>
	  <%= ds_form.label 'Fred ID' %><br/>
	  <%= ds_form.text_field :fred_id%>
	<% end %>
  <% end %>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
