
<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.select :filename, Dir.entries(RAILS_ROOT + "/public/swfs/FusionMaps").collect {|d| [d.sub("FCMap_", "").sub(".swf",""), d ]}.sort_by {|i| i[0] } %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
