<p>
  <b>Name:</b>
  <%=h resource.name %>
</p>

<p>
  <b>Type:</b>
  <%=h resource.data_source_type %>
</p>

<p>
  <b>Identifier:</b>
  <%=h resource.identifier %>
</p>

<%= button_to 'Create Data Sources for all countries', create_all_data_source_template_path(resource) %> 

<%= link_to "Data Sources(#{resource.data_sources.count})", resource_data_sources_path %> <br/>
<%= link_to 'Edit', edit_resource_path(resource) %> |
<%= link_to 'Back', resources_path %>
