<h1>Editing graph_item</h1>

<% form_for(@graph_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :graph %><br />
    <%= f.text_field :graph %>
  </p>
  <p>
    <%= f.label :data_source %><br />
    <%= f.text_field :data_source %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @graph_item %> |
<%= link_to 'Back', graph_items_path %>