<h1>Listing graph_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Graph</th>
    <th>Data source</th>
  </tr>

<% @graph_items.each do |graph_item| %>
  <tr>
    <td><%=h graph_item.title %></td>
    <td><%=h graph_item.graph %></td>
    <td><%=h graph_item.data_source %></td>
    <td><%= link_to 'Show', graph_item %></td>
    <td><%= link_to 'Edit', edit_graph_item_path(graph_item) %></td>
    <td><%= link_to 'Destroy', graph_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New graph_item', new_graph_item_path %>