<p>
  <b>Title:</b>
  <%=h @graph_item.title %>
</p>

<p>
  <b>Graph:</b>
  <%=h @graph_item.graph %>
</p>

<p>
  <b>Data source:</b>
  <%=h @graph_item.data_source %>
</p>


<%= link_to 'Edit', edit_graph_item_path(@graph_item) %> |
<%= link_to 'Back', graph_items_path %>