<% form_for_resource do |f| %>
  <%= f.error_messages %>
    <p>
    	<%= f.label :parent%>
    <%= aac_select Category.roots, {:name => 'category[parent_id]', :selected => resource.parent_id,
:name => 'category[parent_id]', :option_nil => 'None' }%>
	</p>
	  
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  
  <p>
  	<%= f.label :description%>
	<%= f.text_area :description %>
  </p>

  <p><%= f.submit %> </p>
<% end %>
